<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
    <test name="LoginModule">
        <classes>
            <class name = "tests.login.LoginTest"/>
        </classes>
    </test>
    <test name = "ProductModule">
        <classes>
            <class name = "tests.products.HomeTest"/>
            <class name = "tests.products.ItemsTest"/>
        </classes>
    </test>
    <test name = "CartModule">
        <classes>
            <class name = "tests.cart.CartTest"/>
            <class name = "tests.cart.CheckOutTest"/>
        </classes>
    </test>
</suite>